* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    user-select: none;
}

html {
    padding: 10px;
}

body {
    font-family: PingFang SC, 'Source Sans Pro', sans-serif;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
}

// 选择
$--scroll-bar-color: #333;
::selection {
    background: #ddd;
    color: $--scroll-bar-color;
}

::-webkit-selection {
    background: #ddd;
    color: $--scroll-bar-color;
}

// scrollbar
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    overflow: auto;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background-color: #eee;
}


// iconfont
[class^="icon-"] {
    display: inline-block;
    font-family: "icon" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
