$--gain-more-color: #F84B4B;
$--gain-less-color: #45AF26;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    user-select: none;
}

body {
    font-family: PingFang SC, 'Source Sans Pro', sans-serif;
    padding: 2px;
    background: rgba(0, 0, 0, 0);
}

#box {
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);

    > .header {
        display: flex;
        border-bottom: 1px solid #eee;
        justify-content: space-between;
        background-color: #f8f8f8;
        $--header-height: 35px;

        > h1 {
            padding: 0 12px;
            font-size: 14px;
            line-height: $--header-height;
        }

        > .action-buttons {
            display: flex;
            align-items: center;
            padding-right: 5px;
            -webkit-app-region: no-drag; // 按钮不可拖拽


            > a {
                display: block;
                height: 14px;
                line-height: 14px;
                width: 25px;
                text-align: center;
                cursor: pointer;
                color: #888;

                > i {
                    font-size: 14px;
                }

                &:hover {
                    color: #000;
                }

                &.button-min {
                    margin-left: 5px;
                    padding-left: 5px;
                    border-left: 1px solid #e0e0e0;
                }

                &.button-close {
                    &:hover {
                        color: #F84B4B;
                    }
                }
            }
        }
    }

    > .stock-index {
        display: flex;
        border-bottom: 1px solid #eee;
        background-color: #fff;

        > div {
            width: 33.333%;
            font-size: 13px;
            box-sizing: border-box;
            padding: 10px 0 10px 12px;
            margin: 10px 0;


            > .upper-info {
                display: flex;
                align-items: baseline;
                font-weight: bold;

                > h3 {
                    font-size: 13px;
                }

                > p {
                    margin-left: 10px;
                }
            }

            > .index-gain {
                &.gain-more {
                    color: $--gain-more-color;
                }

                &.gain-less {
                    color: $--gain-less-color;
                }
            }
        }

        div + div {
            border-left: 1px solid #eee;
        }
    }


    .optional-stock-table {
        overflow: hidden;

        .stock-info {
            > h3 {
                padding-top: 4px;
                margin-bottom: 5px;
                font-size: 14px;
                line-height: 14px;
                color: #000;
            }

            > p {
                font-size: 11px;
                line-height: 11px;
                color: #aaa;
            }
        }

        .stock-price {
            width: 50px;
            font-weight: bold;
        }

        .stock-volume {
            width: 70px;
            font-weight: bold;
        }

        .gain-price {
            padding-right: 10px;
            color: #000;
            font-weight: bold;

            &.gain-more {
                color: $--gain-more-color;
            }

            &.gain-less {
                color: $--gain-less-color;
            }
        }

        .gain-percent {
            display: inline-block;
            padding: 0 5px;
            width: 65px;
            color: #fff;
            text-align: right;
            font-weight: bold;
            border-radius: 2px;
            background-color: #ccc;

            &.gain-more {
                background-color: $--gain-more-color;
            }

            &.gain-less {
                background-color: $--gain-less-color;
            }
        }
    }
}

$--scroll-bar-color: #333;
::selection {
    background: #ddd;
    color: $--scroll-bar-color;
}

::-webkit-selection {
    background: #ddd;
    color: $--scroll-bar-color;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    overflow: auto;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background-color: #eee;
}


/* iconfont's default style
-------------------------- */

[class^="icon-"] {
    display: inline-block;
    font-family: "icon" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
