.optional-dialog {
    * {
        font-family: PingFang SC, 'Source Sans Pro', sans-serif;
        text-align: center;
    }

    .el-dialog__header {
        display: none;
    }

    .el-dialog__body {
        padding: 35px 0 20px 0;

        .el-form-item__error {
            width: 100%;
        }

        .code-select {
            width: 100%;

            .el-input__inner {
                font-size: 25px;
                border: none;
                letter-spacing: 2px;
            }
        }
    }


}

.hint-option-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .hint-market {
        display: block;
        padding: 0 4px;
        border-radius: 1px;
        background-color: #ccc;
        color: #fff;
        line-height: 14px;
        height: 14px;
        text-align: center;
        margin-right: 5px;
        font-size: 11px;
    }

    .hint-name {
        width: 110px;
        height: 14px;
        line-height: 14px;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 13px;
    }

    .hint-code {
        width: 60px;
        text-align: center;
        font-size: 13px;
    }

    .hint-letter {
        text-align: right;
        width: 90px;
        font-size: 13px;
        color: #aaa;
    }
}

// 魔改下拉组件
.el-select-dropdown {
    border-radius: 0px;
    box-shadow: none;
    border-left: 0;
    border-right: 0;

    &.el-popper[x-placement^=bottom] {
        margin-top: -1px !important;
    }

    .popper__arrow {
        display: none !important;
    }
}
